

@mixin common(){
  display: block;
  border: 0;
  width:100%;
  overflow: hidden;
  &:focus {
    outline: none;
  }
}


app-creator {
  .body {
    width: 100%;
  }

  .container {
    width: 70%;
    margin: 0 auto;
  }

  /**
    --------------TITLE AND CONTENT----------------
  **/

  .title {
    @include common();
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color:#383636;
    margin-top: 30px;
    margin-bottom:15px;
    min-height: 70px;
  }


  .content {
    @include common();
    font-family: 'Oswald', sans-serif;
    min-height: 30px;
    font-size: 17px;
    font-weight: 100;
    color:#282525;
    cursor: text;
    word-wrap: break-word;
    word-spacing: 3px;
    line-height: 1.5em;
  }

  .contentContainer {
    position: relative;
  }

  .codeContainer {
    position: relative;
    background-color: rgb(248, 246, 246);
    font-family: monospace;
    min-height: 100px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0 20px 0;
  }

  /**
    -------------------VIDEO AND IMAGE----------------------
  **/
  .imageContainer {
    position: relative;
  }

  .videoContainer {
    position: relative;
  }

  .image {
    max-width: 100%;
    min-width: 100%;
    margin: 20px 0 20px 0;
    min-height: 100px;
    max-height: 500px;
  }

  .video {
    max-width: 100%;
    min-width: 100%;
    margin: 20px 0 20px 0;
    min-height: 500px;
    max-height: 500px;
  }


  /**
    -----------------TOOLBAR------------------------
  **/
  // Toolar styling
  .toolbar {
    display: flex;
    background: linear-gradient(to top, #9D9494, #444141);
    bottom: 0;
    font-size: 10px;
    height: 30px;
    position: fixed;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  // Toolbar Icons styling
  .fa {
    color: #fff;
    cursor: pointer;
    padding: 10px;

    &:hover {
      color: #46B5E5;
    }
  }

  .fa-window-close {
    color:black;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    &:hover {
      color:red;
    }
  }

  /**
    -----------------POP UP---------------------
  **/

  #popUp {
    background: rgba(235, 232, 232, 0.65);
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

    div {
      background-color: #464141;
      padding: 10px;
      width: 25%;
      position: fixed;
      animation: fadeInOut 0.5s forwards;
      .fa {
        padding: 2px;
      }

      input {
        display: block;
        background-color: #464141;
        border: 0;
        caret-color: white;
        color: #ffffff;
        width: 77%;
        margin-bottom: 2px;
        &:focus {
          outline: none;
        }
      }
    }
  }

  /**
    -----------------EXTRAS---------------------
  **/
  //To color the placeholder
  ::-webkit-input-placeholder {
    color:#ABA7AD;
  }

  //contentEditable div placehodler
  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color:#ABA7AD;
  }

  //Fake Height to add at below of content area
  .fakeBox {
    height: 500px;
    width:100%;
  }

  @media only screen and (max-width: 480px) {
    .title {
      font-size: 35px;
    }

    .content {
      font-size: 20px;
      font-weight: 300;
    }

    .container {
      width: 90%;
    }

    .toolbar {
      font-size: 15px;
      height: 40px;
    }

    #popUp  div {
      width: 80%;
    }

    #link {
      width: 67%;
    }
  }
}
