<div class="body">
  <div class="container">
    <textarea #titleText
      class="title"
      placeholder="This is Blog Title..."
      (input)="autoGrow(titleText)"></textarea>
    <div class="content"
      contenteditable="true"
      placeholder="This is Blog Content..."></div>
  </div>
</div>
<div class="toolbar">
  <a href="#"
    (click)="makeBold()"><i class="fa fa-bold"
    aria-hidden="true"></i></a>

  <a href="#"
    (click)="makeItalic()"><i class="fa fa-italic"
    aria-hidden="true"></i></a>

  <a href="#"
    (click)="makeUnderline()">
     <i class="fa fa-underline"
    aria-hidden="true"></i> </a>
</div>
