<div class="container">
  <div class="head">
    <div class="logo">
      <i class="fa fa-braille"></i>
      <span class="logo-text">Learning Kin</span>
    </div>
  </div>
  <nav class="navbar"
    (click)="onNavSelection($event)">
    <div class="selected">
      <i class="fa fa-clock-o"></i> Latest
    </div>
    <div>
      <i class="fa fa-book"></i> Upcoming
    </div>
  </nav>
  <div class="blog-body">
    <div class="blog-container">
      <div *ngFor='let blog of blogs'
        class="blog"
        (click)="openBlog(blog.id)">
        <div class="blog-img"
          *ngIf="!isLoading">
          <img src="{{blog.img}}" />
        </div>
        <div class="blog-info"
          *ngIf="!isLoading">
          <div class="blog-title">
            {{blog.titleText}}
          </div>
          <div class="blog-description">
            {{blog.desp}}
          </div>
        </div>
        <div *ngIf="isLoading"
          class="wrapper">
          <div class="animated-background">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
