@mixin ellipses(){
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
}

.container {
  width:100%;
  min-height: 1000px;
  background-color: whitesmoke;
}

.head {
  position: relative;
  height: 200px;
  width:100%;
  background-color: rgb(11, 130, 199);
}

.logo {
  color:whitesmoke;
  font-size: 60px;
  position: absolute;
  top:20%;
  left:20%;
  font-family: 'EB Garamond', serif;
}

.logo-text {
  color:whitesmoke;
}

.blog-body {
  width: 100%;
}

.blog-container {
  display: flex;
  flex-flow: wrap;
  width: 80%;
  margin: 10% auto;
}

.blog {
  display: inline-flex;
  flex: 0 0 50%;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
}

.blog-img {
  height: 100%;
  width: 35%;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  border: 1px solid #ece9e9;
  border-right: 0;
  cursor: pointer;
}

.blog-info {
  width: 65%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(236, 233, 233);
  padding:2%;
  background-color: white;
  cursor: pointer;
}

.blog-title {
  height: 4.4em;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color:#383636;
  overflow: hidden;
  line-height: 1.1em;
}

.blog-description {
  height: 5.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 100;
  color:#282525;
  overflow: hidden;
  line-height: 1.1em
}

.blog-img img {
  position: absolute;
  top:50%;
  left:50%;
  width: 300px;
  height: 300px;
  margin-top: -150px; /* Half the height */
  margin-left: -150px; /* Half the width */
}

.id {
  display: none;
}

//NAVBAR
.navbar {
  position: relative;
  width: 100%;
  display: inline-block;
  background-color: rgb(11, 130, 199);
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  text-align: center;
  div {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
}

.selected {
  border-top: 2px solid white;
}

@media only screen and (max-device-width: 480px) {
  .blog-container {
    width:95%;
    height: 200px;
  }
  
  .blog {
    flex:1 1 100%;
  }

  .logo {
    top:20%;
    left:10%;
    font-size: 40px;
  }
}
